@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&family=Sunflower:wght@300;500;700&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.bg-body {
    background-image: url(../images/backcover.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2;
}

.bg-section {
    background-image: url(../images/section-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2;
}

.connect {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    background: transparent;
    border: 1px solid var(--color-main);
    transition: all 0.5s ease-in-out;
}

.connect:hover {
    background: var(--color-main);
    font-weight: var(--fw-xl);
    color: var(--color-primary);
}

.container {
    max-width: 1140px !important;
}

.ellipes-1 {
    max-width: 184px;
    width: 100%;
    height: 184px;
    flex-shrink: 0;
    background: #FFF;
    filter: blur(124px);
    position: absolute;
    top: -4%;
    left: 0;
}

.ellipes-2 {
    max-width: 209px;
    width: 100%;
    height: 209px;
    flex-shrink: 0;
    background-color: #FFF;
    filter: blur(124px);
    position: absolute;
    bottom: -4%;
    left: 0;
}

.ellipes-bg-frame {
    width: 147px;
    height: 147px;
    background: linear-gradient(197deg, rgba(255, 255, 255, 0.95) 14.48%, #242424 88.11%);
    filter: drop-shadow(0px 4px 16px rgba(255, 255, 255, 0.10));
    border-radius: 50%;
    transform: translate(125%, -54%);
}

.ellipes-3 {
    max-width: 182px;
    width: 100%;
    height: 182px;
    flex-shrink: 0;
    background-color: #FFF;
    filter: blur(124px);
    position: absolute;
    bottom: -24%;
    right: 0;
}

.bg-hero {
    background-image: url(../images/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.line-h1 {
    line-height: 108.687%;
}

.line-150 {
    line-height: 150%;
}

.line-180 {
    line-height: 180%;
}

.w-570 {
    max-width: 570px;
}

.pt-96 {
    padding-top: 96px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mt-173 {
    margin-top: 173px;
}

.mt-69 {
    margin-top: 69px;
}

.ml-241 {
    margin-left: 241px;
}

.pt-188 {
    padding-top: 188px;
}

.ml-198 {
    margin-left: 198px;
}

.arrow svg path {
    fill: #fff;
}

.started {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 82px;
    background: none;
    border-radius: 82px;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--color-main);
}

.white-button {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 82px;
    background: none;
    border-radius: 82px;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--color-primary);
}

.web::after {
    content: '';
    position: absolute;
    top: -12%;
    left: 14%;
    width: 174.563px;
    height: 2px;
    transform: rotate(-4.484deg) !important;
    flex-shrink: 0;
    background-color: #FFF;
}

.karmic {
    border-top: 1px solid var(--color-main);
    width: 100%;
}

.web::before {
    content: '';
    position: absolute;
    top: 96%;
    left: 0%;
    width: 174.563px;
    height: 2px;
    transform: rotate(-4.484deg);
    flex-shrink: 0;
    background-color: #FFF;
}

.started:hover {
    background-color: var(--color-main);
    color: #000;
    font-weight: var(--fw-xl);
}

.white-button:hover {
    background-color: var(--color-primary);
    color: var(--color-main);
    font-weight: var(--fw-xl);
}

.started:hover .arrow svg path {
    fill: #000;
}

footer a:hover svg path {
    fill: #dd0000d1;
    transform: rotate(360deg) !important;
}

footer a svg:hover a {
    transform: rotate(-7deg);
}

.project::after {
    content: '';
    position: absolute;
    top: 111%;
    left: 37%;
    max-width: 344.275px;
    width: 100%;
    height: 2px;
    transform: rotate(-3.484deg);
    background: #FFF;
}

.project::before {
    content: '';
    position: absolute;
    top: -24%;
    left: 41.5%;
    max-width: 326.275px;
    width: 100%;
    height: 2px;
    transform: rotate(-4.484deg);
    background: #FFF;
}

.project2::after {
    content: '';
    position: absolute;
    top: 111%;
    left: 37%;
    max-width: 344.275px;
    width: 100%;
    height: 2px;
    transform: rotate(-3.484deg);
    background: #000;
}

.project2::before {
    content: '';
    position: absolute;
    top: 49%;
    left: 41.5%;
    max-width: 326.275px;
    width: 100%;
    height: 2px;
    transform: rotate(-4.484deg);
    background: #000;
}

.about::after {
    content: '';
    position: absolute;
    top: 104%;
    left: 31%;
    max-width: 344.275px;
    width: 100%;
    height: 2px;
    transform: rotate(-5.484deg);
    background: var(--color-main);
}

.about::before {
    content: '';
    position: absolute;
    top: 49%;
    left: 37.5%;
    max-width: 343.275px;
    width: 100%;
    height: 2px;
    transform: rotate(-4.484deg);
    background: var(--color-main);
}

.line-150 {
    line-height: 150%;
}

.w-532 {
    max-width: 532px;
}

.service::after {
    content: '';
    position: absolute;
    top: 111%;
    left: 30%;
    width: 344.275px;
    height: 2px;
    transform: rotate(-3.484deg);
    background: #FFF;
}

.service::before {
    content: '';
    position: absolute;
    top: -24%;
    left: 40.5%;
    width: 326.275px;
    height: 2px;
    transform: rotate(-4.484deg);
    background: #FFF;
}

.radius-carton {
    border-radius: 12px;
}

.radius-project {
    border-radius: 11px;
}

.mb-97 {
    margin-bottom: 97px;
}

.ellipes-4 {
    max-width: 226px;
    width: 100%;
    height: 226px;
    flex-shrink: 0;
    background: #FFF;
    filter: blur(124px);
    position: absolute;
    top: 0;
    right: 0;
}

.finish:hover {
    color: var(--color-main);
    font-weight: var(--fw-xl);
}

.box {
    max-width: 263px;
    max-height: 334px;
    padding: 16px;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
}

.box:hover {
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
}

.about-img:hover {
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.w-224 {
    max-width: 224px;
}

.service-card {
    max-width: 264px;
    max-height: 276px;
    padding: 20px;
    gap: 20px;
    border-radius: 12px;
}

.ellipes22 {
    width: 73px;
    height: 74px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: -14%;
    border-radius: 50%;
    right: -6.5%;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease-in-out;
}

.set:hover .ellipes22 {
    opacity: 1;
}

.service-card {
    width: 264px;
    height: 276px;
    padding: 20px;
    backdrop-filter: blur(14px);
    border-radius: 12px;
    z-index: 2;
}

.set:hover .service-card {
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    outline: 1px solid rgba(255, 255, 255, 0.10);
}

.py-94 {
    padding-top: 94px;
    padding-bottom: 221px;
}

.project-card {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background: #4D4D4D;
    box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4.5px);
    position: absolute;
    bottom: -6.5%;
    right: 0%;
    opacity: 0;
    transition: all 1s;
    z-index: 1;
}

.my-94-241 {
    padding-top: 241px;
    padding-bottom: 241px;
}

.mouse:hover img {
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}

.mouse:hover .project-card {
    opacity: 2;
    transform: scale(1.2);
}

@media (max-width:1400px) {
    label[id="nav"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: fixed;
        right: 15%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 4;
    }

    label[id="nav"]>span {
        width: 100%;
        height: 5px;
        background-color: #a3ebff;
    }

    .menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: var(--color-primary);
        position: fixed;
        top: 0%;
        z-index: 3;
        right: -100%;
        opacity: 1;
        transition: all 0.5s linear;
    }

    .right-0 {
        right: 0%;
    }

    .ml-198 {
        margin-left: 0;
    }

    .ellipes-bg-frame {
        display: none;
    }

    .project::after {
        display: none;
    }

    .project::before {
        display: none;
    }

    .project2::after {
        display: none;
    }

    .project2::before {
        display: none;
    }

    .about::after {
        display: none;
    }

    .about::before {
        display: none;
    }

    .service::after {
        display: none;
    }

    .w-custum {
        width: 50%;
    }

    .service::before {
        display: none;
    }

    .mouse:hover img {
        transform: scale(1);
        position: relative;
        z-index: 1;
    }

    .mouse:hover .project-card {
        transform: scale(1);
    }

    .mouse:hover .project-card {
        opacity: 2;
    }

    .project-card {
        bottom: 0;
    }

    .ellipes-2 {
        display: none;
    }

    .ellipes-3 {
        display: none;
    }

    .ellipes-4 {
        display: none;
    }

    .ml-241 {
        margin-left: 0px;
    }
}

@media (max-width:543px) {
    .started {
        display: flex;
        padding: 5px 22px;
        align-items: center;
        gap: 10px;
        border-radius: 82px;
        background: none;
        border-radius: 82px;
        border: 1px solid var(--color-main);
    }

    .web::after {
        display: none;
    }

    .web::before {
        display: none;
    }
}

@media (max-width:342px) {
    .web::after {
        display: block;
        transform: rotate(-1.484deg) !important;
    }

    .w-custum {
        width: 100%;
    }

    .web::before {
        display: block;
    }
}
